@using BlazorApp02.Shared
<div>
    <label>タイトル：</label><span>@Book.Title</span>
    <label class="ml-100">著者：</label><span>@Book.Author</span>
</div>

@functions
{
// This is to demonstrate how a parent component can supply parameters
public Book Book { get; set; }
}